.loading {background-image: url(/ecommerce/images/loading.gif); background-repeat: no-repeat; background-position: 50% 50%; margin-left: -110px; margin-top: -10px; min-height: 20px;}
.qty input, table tbody td.total {text-align: right;}

.addProductsToOrderAddRows a, .reset a {display: block; text-indent: -2000px; height: 32px; width: 32px; }
.addProductsToOrderAddRows a {background-image: url(/ecommerce_corporate_account/images/add.png); }
.reset a {background-image: url(/ecommerce_corporate_account/images/undo.png);}
.reset{display: block;}
#AddProductsToOrderRowsTable .toBeCompleted {border: 1px solid red;}

span.name, span.title  {font-weight: bold;}

#AddProductsToOrderRowsTable .name input {width: 10em;}
#AddProductsToOrderRowsTable .buyable select {width: 20em;}
#AddProductsToOrderRowsTable .qty input {width: 3em; float: right;}
